<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-doughnut-chart
          title="Sales"
          [data]="data"
          [backgroundColor]="backgroundColor"
        ></app-doughnut-chart>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-doughnut-chart
          [doughnutChartLabels]="doughnutChartLabels"
        ></app-doughnut-chart>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-doughnut-chart></app-doughnut-chart>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-doughnut-chart></app-doughnut-chart>
      </div>
    </div>
  </div>
</div>
